.timer-clock.timer-hidden {
  display: none;
}
.timer-clock {
  position: absolute;
  bottom: 70px;
  left: 225px;
  border: 5px solid #4D4D4D;
  border-radius: 10%;
  background-color: #E6E6E6;
  padding: 5px 0px; 
  width: 200px;
  text-align: center;
}

.timer-time {
  font-family: Impact;
  font-size:48px
}